<h1>The world's least powerful calculator</h1>

<div>Number 1: <input id="number1"/></div>
<div>Number 2: <input id="number2"/></div>

<div>
<p>
  <input type="submit" onClick="new Calculator().calculateResult(); false" value="Add Them!"/>
</p>
</div>

<h2>Result: <span id="resultGoesHere"/></h2>

